<div class="row">
  <div class="alert alert-info col-md-4 col-md-offset-4">
    <strong></strong> Check out details on the <a style="color:#03f458;" href='http://oscar.go.com/nominees' target='_blank'>nominations.</a>
  </div>
</div>

<div ng-show='vm.currentQuestionIndex < vm.questions.length' class='panel panel-default col-md-3 col-md-offset-1' style='height: 44rem; margin-right: 1rem;'>
  <h3>Questions</h3>
  <div class="panel-body" style='height: 80%; overflow-y: scroll;'>
    <ul style='padding-left: 0px;'>
      <li class='btn btn-default' ng-repeat='question in vm.questions' ng-click='vm.showQuestionAtIndex($index)' style='margin-top: 1rem;'>{{question.question}}</li>
    </ul>
  </div>
</div>

<div ng-show='vm.currentQuestionIndex < vm.questions.length' class='panel panel-default col-md-4' style='height: 44rem;'>
  <div class="panel-body">
    <h2 class='text-center'>{{vm.currentQuestion.question}}</h2>
    <div class="form-group">
      <div class="radio" ng-repeat='choice in vm.currentQuestion.choices'>
        <label>
          <input ng-model='vm.choice' type="radio" name="" value='{{choice}}' checked=""><span class="circle"></span><span class="check"></span>
          {{choice}}
        </label>
      </div>
    </div>

    <div class='text-center'>
      <button class='btn btn-lg btn-primary' ng-click='vm.answerQuestion(vm.choice)'>Select {{vm.choice}}</button>
    </div>
  </div>
</div>

<div ng-show='vm.currentQuestionIndex >= vm.questions.length' class='panel panel-default col-md-6 col-md-offset-3'>
  <div class="panel-body">
    <h2 class='text-center'>All done!</h2>
  </div>
</div>
